<hr style="border:5px solid #108999"> </hr>

# Python Variables and Types of Data <hr style="border:4.5px solid #108999"> </hr>

## Variables

In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
Y

NameError: name 'Y' is not defined

In [5]:
print (y)

8

In [6]:
x,y = (1,2)

In [7]:
x

1

In [8]:
y

2

In [9]:
x,y = (1,2,3)

ValueError: too many values to unpack (expected 2)

## Numbers and Boolean Values

In [1]:
x1 = 5

In [2]:
type(x1)

int

In [3]:
type(-6)

int

In [4]:
x2 = 4.75

In [5]:
type(x2)

float

In [6]:
int(x2)

4

In [7]:
float(5)

5.0

In [8]:
x3 = True

In [9]:
type(x3)

bool

In [10]:
x3 = true

NameError: name 'true' is not defined

## Strings

In [1]:
George

NameError: name 'George' is not defined

In [2]:
'George'

'George'

In [3]:
"George"

'George'

In [4]:
print ('George')

George

In [5]:
print ("George")

George

In [6]:
x4 = "George"

In [7]:
x4

'George'

In [8]:
y = 10
print (y + "Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
y = 10
print (str(y) + " Dollars")

10 Dollars

In [10]:
'I'm fine'

SyntaxError: invalid syntax (<ipython-input-10-4b03f9290adb>, line 1)

In [11]:
"I'm fine"

"I'm fine"

In [12]:
'I\'m fine'

"I'm fine"

In [13]:
'Press "Enter"'

'Press "Enter"'

In [14]:
'Red' 'car'

'Redcar'

In [15]:
'Red ' 'car'

'Red car'

In [16]:
'Red ' + 'car'

'Red car'

In [17]:
print ('Red ' + 'car')

Red car

In [18]:
print ('Red', 'car')

Red car

<hr style="border:5px solid #108999"> </hr>

# Basic Python Syntax <hr style="border:4.5px solid #108999"> </hr>

## Arithmetic operators

In [19]:
print (3,5)

3 5

In [20]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

In [1]:
1 + 2

3

In [2]:
3 - 5

-2

In [3]:
15 / 3

5.0

In [4]:
16 / 3

5.333333333333333

In [5]:
float(16) / 3

5.333333333333333

In [6]:
16.0 / 3

5.333333333333333

In [7]:
16 % 3

1

In [8]:
5 * 3

15

In [9]:
x = 5 * 3

In [10]:
x

15

## The double-equality sign

In [11]:
5 ** 3

125

In [1]:
y = 5 ** 3

In [2]:
y

125

In [3]:
y == 125

True

In [4]:
y == 126

False

## Reassign Values

In [1]:
z = 1
z

1

In [2]:
z = 3
z

3

In [3]:
z + 5

8

In [4]:
z = 7
z

7

In [5]:
3 + 5

8

In [6]:
3 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
3 + 5.0

8.0

## Add Comments

In [1]:
#This is just a comment and not code! 
print (7,2)

7 2

In [2]:
# Comment 1
# Comment 2
print (300)

300

## Line Continuation

In [1]:
2.0 * 1.5 + \
5

8.0

## Indexing Elements

In [1]:
"Friday"

'Friday'

In [2]:
"Friday"[3]

'd'

In [3]:
"Friday"[4]

'a'

## Structure Your Code with Indentation

In [1]:
def five(x):
    x = 5
    return x
    print (five(3))

In [2]:
def five(x):
    x = 5
    return x

print (five(3))

5

<hr style="border:5px solid #108999"> </hr>

# Operators <hr style="border:4.5px solid #108999"> </hr>

## Comparison Operators

In [1]:
10 == 20 / 2

True

In [2]:
10 != 10

False

In [3]:
10 != 15

True

In [4]:
100 > 50

True

In [5]:
100 < 50

False

In [6]:
15 >= 10 + 10

False

In [7]:
15 <= 10 + 5

True

## Logical and Identity Operators

** Logical Operators: **

In [11]:
True and True

True

In [1]:
True and False

False

In [54]:
False and False

False

In [53]:
False or False

False

In [56]:
True or True

True

In [57]:
True or False

True

In [58]:
False or True

True

In [59]:
not True

False

In [60]:
not False

True

In [2]:
3 > 5 and 10 <= 20

False

**Not - And - Or**

In [13]:
True and not True

False

In [15]:
False or not True and True

False

In [2]:
True and not True or True

True

** Identity Operators: **

In [47]:
5 is 6

False

In [48]:
5 == 6

False

In [49]:
5 is not 6

True

In [50]:
5 != 6

True

<hr style="border:5px solid #108999"> </hr>

# Conditional Statements <hr style="border:4.5px solid #108999"> </hr>

## Introduction to the IF statement

In [1]:
if 5 == 15 / 3:
    print ("Hooray!")

Hooray!

In [2]:
if 5 == 18 / 3:
    print ("Hooray!")

In [3]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

## Add an ELSE Statement

In [1]:
x = 1

if x > 3: 
    print ("Case 1")
if x <= 3:
    print ("Case 2")

Case 2

In [2]:
x = 1

if x > 3:
    print ("Case 1")
else:
    print ("Case 2")

Case 2

In [3]:
x = 1

if x > 3:
    print ("Case 1")
    else:
        print ("Case 2")

SyntaxError: invalid syntax (<ipython-input-3-ba050cb5c72b>, line 5)

## Else if, for Brief - ELIF

In [1]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [2]:
print (compare_to_five(10))

Greater

In [3]:
print (compare_to_five(2))

Less

In [4]:
print (compare_to_five(5))

Equal

In [5]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:          
        return "Less"
    else:
        return "Equal"

In [6]:
print (compare_to_five(-3))

Negative

In [7]:
print (compare_to_five(3))

Less

In [8]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    elif y < 0:          
        return "Negative"
    else:
        return "Equal"

In [9]:
print (compare_to_five(-3))

Less

In [10]:
print (compare_to_five(3))

Less

## A Note on Boolean Values

In [1]:
x = 2

if x > 4:
    print ("Correct")
else:
    print ("Incorrect")

Incorrect

<hr style="border:5px solid #108999"> </hr>

# Functions <hr style="border:4.5px solid #108999"> </hr>

## Defining a Function in Python

In [1]:
def simple():
    print ("My first function")

In [2]:
simple()

My first function

## Creating a Function with a Parameter

In [1]:
def simple():
    print ("My first function")

In [2]:
simple()

My first function

In [3]:
def plus_ten(a):
    return a + 10

In [4]:
plus_ten(2)

12

In [5]:
plus_ten(5)

15

## Another Way to Define a Function

In [1]:
def simple():
    print ("My first function")

In [2]:
simple()

My first function

In [3]:
def plus_ten(a):
    return a + 10

In [4]:
plus_ten(2)

12

In [5]:
plus_ten(5)

15

In [6]:
def plus_ten(a):
    result = a + 10
    return result

In [7]:
plus_ten(2)

12

In [8]:
def plus_ten(a):
    result = a + 10
    return "Outcome:"
    return result

In [9]:
plus_ten(2)

'Outcome:'

In [10]:
def plus_ten(a):
    result = a + 10
    print ("Outcome:")
    return result

In [11]:
plus_ten(2)

Outcome:

12

## Using a Function in Another Function

In [1]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [2]:
wage(8), with_bonus(8)

(200, 250)

## Combining Conditional Statements and Functions

In [1]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [2]:
add_10(110)

120

In [3]:
add_10(50)

'Save more!'

## Creating Functions Containing a Few Arguments

In [1]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [2]:
subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [3]:
subtract_bc(b=3,a=10,c=2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

## Notable Built-In Functions in Python

In [1]:
type(10)

int

In [2]:
int(5.0)

5

In [3]:
float(3)

3.0

In [4]:
str(500)

'500'

In [5]:
max(10, 20, 30)

30

In [6]:
min(10, 20, 30)

10

In [7]:
z = -20
abs(z)

20

In [8]:
list_1 = [1,2,3,4]

In [9]:
sum(list_1)

10

In [10]:
round(3.555,2)

3.56

In [11]:
round(3.2)

3

In [12]:
2 ** 10

1024

In [13]:
pow(2,10)

1024

In [14]:
len('Mathematics')

11

<hr style="border:5px solid #108999"> </hr>

# Sequences <hr style="border:4.5px solid #108999"> </hr>

## Lists

In [1]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [2]:
print (Participants[1])

Leila

In [3]:
Participants[-1]

'Cate'

In [4]:
Participants[-2]

'Gregory'

In [5]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [6]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [7]:
Participants[2]

'Maria'

## Help Yourself with Methods

In [1]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [2]:
print (Participants[1])

Leila

In [3]:
Participants[-1]

'Cate'

In [4]:
Participants[-2]

'Gregory'

In [5]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [6]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [7]:
Participants[2]

'Maria'

In [8]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [9]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [10]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [11]:
len('Dolphin')

7

In [12]:
len(Participants)

6

## List Slicing

In [1]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [2]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [3]:
Participants[1:3]

['Leila', 'Maria']

In [4]:
Participants[:2]

['John', 'Leila']

In [5]:
Participants[4:]

['George', 'Catherine']

In [6]:
Participants[-2:]

['George', 'Catherine']

********

In [7]:
Maria_ind = Participants.index("Maria")
Maria_ind

2

*********

In [8]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [9]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [10]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [11]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [12]:
Numbers = [1,2,3,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [13]:
Numbers.sort(reverse = True)
Numbers

[5, 4, 3, 2, 1]

## Tuples

In [1]:
x = (40, 41, 42)
x

(40, 41, 42)

In [2]:
y = 50, 51, 52
y

(50, 51, 52)

In [3]:
a,b,c = 1,4,6
c

6

In [4]:
x[0]

40

In [5]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [6]:
(age, years_of_school) = "30,17".split(',')
print (age)
print (years_of_school)

30
17

In [7]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:") 
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

## Dictionaries

In [1]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [2]:
dict['k1']

'cat'

In [3]:
dict["k3"]

'mouse'

In [4]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [5]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

******

In [6]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [7]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

******

In [8]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [9]:
print (Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [10]:
print (Team['Center'])

Hector

In [11]:
print (Team.get('Small Forward'))

Sean

In [12]:
print (Team.get('Coach'))

None

<hr style="border:5px solid #108999"> </hr>

# Iteration <hr style="border:4.5px solid #108999"> </hr>

## For Loops

In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [3]:
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [4]:
for n in even:
    print (n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

## While Loops and Incrementing

In [1]:
x = 0
while x <= 20:
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [2]:
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## Create Lists with the range() Function

In [1]:
range(10)

range(0, 10)

In [2]:
range(3,7)

range(3, 7)

In [3]:
range(1,20,2)

range(1, 20, 2)

## Use Conditional Statements and Loops Together

In [1]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [2]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

********

In [3]:
x = [0,1,2]

In [4]:
for item in x:
    print (item, end = " ")

0 1 2

In [5]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

In [1]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [2]:
list_1 = [1,3,7,15,23,43,56,98]

In [3]:
count(list_1)

4

In [4]:
list_2 = [1,3,7,15,23,43,56,98,17]

In [5]:
count(list_2)

5

## Iterating over Dictionaries

In [1]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print (money_spent)

74